In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [2]:
csv_file = "Resources/2017_2018_Stats.csv"
stats_df = pd.read_csv(csv_file)
stats_df.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Alex Abrines\abrinal01,SG,24,OKC,75,1134,9.0,0.567,0.759,...,NaN,1.3,1.0,2.2,0.094,NaN,-0.5,-1.7,-2.2,-0.1
1,2,Quincy Acy\acyqu01,PF,27,BRK,70,1359,8.2,0.525,0.800,...,NaN,-0.1,1.1,1.0,0.036,NaN,-2.0,-0.2,-2.2,-0.1
2,3,Steven Adams\adamsst01,C,24,OKC,76,2487,20.6,0.630,0.003,...,NaN,6.7,3.0,9.7,0.187,NaN,2.2,1.1,3.3,3.3
3,4,Bam Adebayo\adebaba01,C,20,MIA,69,1368,15.7,0.570,0.021,...,NaN,2.3,1.9,4.2,0.148,NaN,-1.6,1.8,0.2,0.8
4,5,Arron Afflalo\afflaar01,SG,32,ORL,53,682,5.8,0.516,0.432,...,NaN,-0.1,0.2,0.1,0.009,NaN,-4.1,-1.8,-5.8,-0.7

In [3]:
csv_file = "Resources/2017_2018_Salary.csv"
salary_df = pd.read_csv(csv_file)
salary_df.head()

   Unnamed: 0          Player   Tm  season17_18
0           1   Stephen Curry  GSW   34682550.0
1           2    LeBron James  CLE   33285709.0
2           3    Paul Millsap  DEN   31269231.0
3           4  Gordon Hayward  BOS   29727900.0
4           5   Blake Griffin  DET   29512900.0

In [4]:
csv_file = "Resources/all_players.csv"
all_players_df = pd.read_csv(csv_file)
all_players_df.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Dennis Rodman,CHI,36,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,1,Dwayne Schintzius,LAC,28,215.90,117.933920,Florida,USA,1990,1,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,2,Earl Cureton,TOR,39,205.74,95.254320,Detroit Mercy,USA,1979,3,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,3,Ed O'Bannon,DAL,24,203.20,100.697424,UCLA,USA,1995,1,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,4,Ed Pinckney,MIA,34,205.74,108.862080,Villanova,USA,1985,1,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97

In [5]:
print(stats_df.columns)

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', '3PAr',
       'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'Unnamed: 19', 'OWS', 'DWS', 'WS', 'WS/48', 'Unnamed: 24', 'OBPM',
       'DBPM', 'BPM', 'VORP'],
      dtype='object')

In [6]:
print(salary_df.columns)

Index(['Unnamed: 0', 'Player', 'Tm', 'season17_18'], dtype='object')

In [7]:
print(all_players_df.columns)

Index(['Unnamed: 0', 'player_name', 'team_abbreviation', 'age',
       'player_height', 'player_weight', 'college', 'country', 'draft_year',
       'draft_round', 'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating',
       'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

In [8]:
pl_grp = all_players_df.groupby(['player_name','team_abbreviation'])
players_df = pl_grp.mean().reset_index().drop(columns='Unnamed: 0').rename(columns={'player_name':'players','team_abbreviation':'teams'})

In [9]:
players_df.head()

,players,teams,age,player_height,player_weight,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct
0,A.C. Green,DAL,34.0,205.74,102.058200,71.666667,6.466667,6.866667,0.933333,-6.933333,0.095667,0.194,0.128333,0.486667,0.054
1,A.C. Green,LAL,36.0,205.74,102.058200,82.000000,5.000000,5.900000,1.000000,8.100000,0.089000,0.179,0.111000,0.482000,0.058
2,A.C. Green,MIA,37.0,205.74,102.058200,82.000000,4.500000,3.800000,0.500000,3.300000,0.089000,0.171,0.141000,0.492000,0.050
3,A.J. Bramlett,CLE,23.0,208.28,102.965384,8.000000,1.000000,2.800000,0.000000,-32.600000,0.158000,0.208,0.146000,0.190000,0.000
4,A.J. Guyton,CHI,23.5,185.42,81.646560,39.000000,5.700000,1.050000,1.850000,-8.100000,0.020000,0.060,0.195000,0.486000,0.223

In [10]:
salary_df.columns

Index(['Unnamed: 0', 'Player', 'Tm', 'season17_18'], dtype='object')

In [11]:
s_grp = salary_df.groupby(['Player','Tm'])

In [12]:
sal_df = s_grp.mean().drop(columns = 'Unnamed: 0').rename(columns={'Player': 'players', 'Tm':'teams'}).reset_index()

In [13]:
stats_df.describe().columns

Index(['Rk', 'Age', 'G', 'MP', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%',
       'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'Unnamed: 19', 'OWS',
       'DWS', 'WS', 'WS/48', 'Unnamed: 24', 'OBPM', 'DBPM', 'BPM', 'VORP'],
      dtype='object')

In [14]:
stats_grp = stats_df.groupby(['Player','Tm'])

In [39]:
st_df = stats_grp.mean()[['Rk', 'Age', 'G', 'MP', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%','TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%','OWS','DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP']].reset_index().rename(columns={'Player':'players','Tm':'teams'})
st_df.head()

,players,teams,Rk,Age,G,MP,PER,TS%,3PAr,FTr,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,Aaron Brooks\brookaa01,MIN,65,33,32,189,9.8,0.508,0.449,0.159,...,13.0,19.9,0.1,0.1,0.1,0.033,-0.8,-3.6,-4.3,-0.1
1,Aaron Gordon\gordoaa01,ORL,179,22,58,1909,16.5,0.530,0.395,0.260,...,10.0,24.7,0.9,2.0,2.9,0.072,0.0,0.0,0.0,1.0
2,Aaron Harrison\harriaa01,DAL,201,23,9,233,5.1,0.392,0.623,0.246,...,3.8,15.5,-0.3,0.2,-0.1,-0.014,-3.6,-0.5,-4.1,-0.1
3,Aaron Jackson\jacksaa01,HOU,243,31,1,35,2.4,0.405,0.444,0.222,...,9.2,13.7,0.0,0.0,0.0,-0.017,-4.6,-3.0,-7.7,-0.1
4,Abdel Nader\naderab01,BOS,363,24,48,522,5.1,0.439,0.436,0.262,...,17.0,17.1,-0.9,0.8,-0.1,-0.014,-5.9,0.3,-5.6,-0.5

In [43]:
st_df["players"]=st_df["players"].str.split("\\",n=1, expand=True)
st_df.head(100)

,players,teams,Rk,Age,G,MP,PER,TS%,3PAr,FTr,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,Aaron Brooks,MIN,65,33,32,189,9.8,0.508,0.449,0.159,...,13.0,19.9,0.1,0.1,0.1,0.033,-0.8,-3.6,-4.3,-0.1
1,Aaron Gordon,ORL,179,22,58,1909,16.5,0.530,0.395,0.260,...,10.0,24.7,0.9,2.0,2.9,0.072,0.0,0.0,0.0,1.0
2,Aaron Harrison,DAL,201,23,9,233,5.1,0.392,0.623,0.246,...,3.8,15.5,-0.3,0.2,-0.1,-0.014,-3.6,-0.5,-4.1,-0.1
3,Aaron Jackson,HOU,243,31,1,35,2.4,0.405,0.444,0.222,...,9.2,13.7,0.0,0.0,0.0,-0.017,-4.6,-3.0,-7.7,-0.1
4,Abdel Nader,BOS,363,24,48,522,5.1,0.439,0.436,0.262,...,17.0,17.1,-0.9,0.8,-0.1,-0.014,-5.9,0.3,-5.6,-0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Cole Aldrich,MIN,6,29,21,49,6.0,0.340,0.000,0.400,...,5.4,16.8,-0.1,0.1,0.0,-0.013,-7.0,0.1,-6.9,-0.1
96,Corey Brewer,LAL,63,31,54,694,8.9,0.509,0.250,0.297,...,16.3,14.2,-0.2,0.9,0.7,0.048,-3.6,0.9,-2.7,-0.1
97,Corey Brewer,OKC,63,31,18,514,14.2,0.565,0.465,0.271,...,6.4,14.4,0.9,0.7,1.6,0.150,1.0,1.1,2.1,0.5
98,Corey Brewer,TOT,63,31,72,1208,11.2,0.534,0.348,0.285,...,12.1,14.3,0.7,1.6,2.3,0.091,-1.6,1.0,-0.6,0.4
99,Cory Joseph,IND,269,26,82,2210,11.0,0.503,0.315,0.156,...,11.9,14.8,1.2,2.0,3.1,0.068,-1.3,0.1,-1.2,0.5

In [16]:
players_df.to_csv('Resources/players.csv')
sal_df.to_csv('Resources/salary.csv')
st_df.to_csv('Resources/stats.csv')

### Leave the 4 columns we need and clean player column to just show player name

### Connect to Local Database

In [19]:
rds_connection_string = "postgres:W3@verville@localhost:5432/nba_players"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [20]:
engine.table_names()

['player_stats', 'draft_info']

In [21]:
### Use pandas to load CSV converted DF into database

In [36]:
players_df.to_sql(name = 'player_stats', con=engine, if_exists = 'append', index=False)

In [37]:
sal_df.to_sql(name = 'salaries', con=engine, if_exists = 'append', index=False)

In [38]:
st_df.to_sql(name = 'per_info', con=engine, if_exists = 'append', index=False)

ProgrammingError: (psycopg2.ProgrammingError) incomplete placeholder: '%(' without ')'
[SQL: INSERT INTO per_info (players, teams, "Rk", "Age", "G", "MP", "PER", "TS%%", "3PAr", "FTr", "ORB%%", "DRB%%", "TRB%%", "AST%%", "STL%%", "BLK%%", "TOV%%", "USG%%", "OWS", "DWS", "WS", "WS/48", "OBPM", "DBPM", "BPM", "VORP") VALUES (%(players)s, %(teams)s, %(Rk)s, %(Age)s, %(G)s, %(MP)s, %(PER)s, %(TS%)s, %(3PAr)s, %(FTr)s, %(ORB%)s, %(DRB%)s, %(TRB%)s, %(AST%)s, %(STL%)s, %(BLK%)s, %(TOV%)s, %(USG%)s, %(OWS)s, %(DWS)s, %(WS)s, %(WS/48)s, %(OBPM)s, %(DBPM)s, %(BPM)s, %(VORP)s)]
[parameters: ({'players': 'Aaron Brooks\\brookaa01', 'teams': 'MIN', 'Rk': 65, 'Age': 33, 'G': 32, 'MP': 189, 'PER': 9.8, 'TS%': 0.508, '3PAr': 0.449, 'FTr': 0.159, 'ORB%': 4.2, 'DRB%': 6.2, 'TRB%': 5.2, 'AST%': 15.1, 'STL%': 1.6, 'BLK%': 0.0, 'TOV%': 13.0, 'USG%': 19.9, 'OWS': 0.1, 'DWS': 0.1, 'WS': 0.1, 'WS/48': 0.033, 'OBPM': -0.8, 'DBPM': -3.6, 'BPM': -4.3, 'VORP': -0.1}, {'players': 'Aaron Gordon\\gordoaa01', 'teams': 'ORL', 'Rk': 179, 'Age': 22, 'G': 58, 'MP': 1909, 'PER': 16.5, 'TS%': 0.53, '3PAr': 0.395, 'FTr': 0.26, 'ORB%': 5.0, 'DRB%': 21.5, 'TRB%': 13.2, 'AST%': 11.7, 'STL%': 1.5, 'BLK%': 1.9, 'TOV%': 10.0, 'USG%': 24.7, 'OWS': 0.9, 'DWS': 2.0, 'WS': 2.9, 'WS/48': 0.07200000000000001, 'OBPM': 0.0, 'DBPM': 0.0, 'BPM': 0.0, 'VORP': 1.0}, {'players': 'Aaron Harrison\\harriaa01', 'teams': 'DAL', 'Rk': 201, 'Age': 23, 'G': 9, 'MP': 233, 'PER': 5.1, 'TS%': 0.392, '3PAr': 0.623, 'FTr': 0.24600000000000002, 'ORB%': 1.8, 'DRB%': 9.9, 'TRB%': 5.7, 'AST%': 6.7, 'STL%': 1.9, 'BLK%': 0.8, 'TOV%': 3.8, 'USG%': 15.5, 'OWS': -0.3, 'DWS': 0.2, 'WS': -0.1, 'WS/48': -0.013999999999999999, 'OBPM': -3.6, 'DBPM': -0.5, 'BPM': -4.1, 'VORP': -0.1}, {'players': 'Aaron Jackson\\jacksaa01', 'teams': 'HOU', 'Rk': 243, 'Age': 31, 'G': 1, 'MP': 35, 'PER': 2.4, 'TS%': 0.405, '3PAr': 0.444, 'FTr': 0.222, 'ORB%': 6.5, 'DRB%': 3.2, 'TRB%': 4.8, 'AST%': 4.0, 'STL%': 0.0, 'BLK%': 0.0, 'TOV%': 9.2, 'USG%': 13.7, 'OWS': 0.0, 'DWS': 0.0, 'WS': 0.0, 'WS/48': -0.017, 'OBPM': -4.6, 'DBPM': -3.0, 'BPM': -7.7, 'VORP': -0.1}, {'players': 'Abdel Nader\\naderab01', 'teams': 'BOS', 'Rk': 363, 'Age': 24, 'G': 48, 'MP': 522, 'PER': 5.1, 'TS%': 0.439, '3PAr': 0.436, 'FTr': 0.262, 'ORB%': 2.8, 'DRB%': 12.0, 'TRB%': 7.4, 'AST%': 7.1, 'STL%': 1.4, 'BLK%': 1.6, 'TOV%': 17.0, 'USG%': 17.1, 'OWS': -0.9, 'DWS': 0.8, 'WS': -0.1, 'WS/48': -0.013999999999999999, 'OBPM': -5.9, 'DBPM': 0.3, 'BPM': -5.6, 'VORP': -0.5}, {'players': 'Adreian Payne\\paynead01', 'teams': 'ORL', 'Rk': 397, 'Age': 26, 'G': 5, 'MP': 43, 'PER': 18.8, 'TS%': 0.831, '3PAr': 0.3, 'FTr': 0.6, 'ORB%': 5.1, 'DRB%': 18.0, 'TRB%': 11.5, 'AST%': 0.0, 'STL%': 2.3, 'BLK%': 0.0, 'TOV%': 13.7, 'USG%': 15.0, 'OWS': 0.1, 'DWS': 0.0, 'WS': 0.2, 'WS/48': 0.203, 'OBPM': 0.1, 'DBPM': -4.1, 'BPM': -4.1, 'VORP': 0.0}, {'players': 'Al Horford\\horfoal01', 'teams': 'BOS', 'Rk': 227, 'Age': 31, 'G': 72, 'MP': 2277, 'PER': 17.6, 'TS%': 0.575, '3PAr': 0.3, 'FTr': 0.159, 'ORB%': 5.0, 'DRB%': 20.2, 'TRB%': 12.7, 'AST%': 23.6, 'STL%': 0.9, 'BLK%': 2.9, 'TOV%': 14.1, 'USG%': 18.4, 'OWS': 4.0, 'DWS': 3.8, 'WS': 7.8, 'WS/48': 0.165, 'OBPM': 1.1, 'DBPM': 2.9, 'BPM': 4.0, 'VORP': 3.5}, {'players': 'Al Jefferson\\jeffeal01', 'teams': 'IND', 'Rk': 250, 'Age': 33, 'G': 36, 'MP': 484, 'PER': 20.2, 'TS%': 0.563, '3PAr': 0.013999999999999999, 'FTr': 0.17300000000000001, 'ORB%': 7.0, 'DRB%': 26.2, 'TRB%': 16.7, 'AST%': 10.0, 'STL%': 1.7, 'BLK%': 4.2, 'TOV%': 8.6, 'USG%': 22.5, 'OWS': 0.8, 'DWS': 0.8, 'WS': 1.6, 'WS/48': 0.158, 'OBPM': -1.7, 'DBPM': 1.3, 'BPM': -0.5, 'VORP': 0.2}  ... displaying 10 of 664 total bound parameter sets ...  {'players': 'Zaza Pachulia\\pachuza01', 'teams': 'GSW', 'Rk': 387, 'Age': 33, 'G': 69, 'MP': 972, 'PER': 17.0, 'TS%': 0.612, '3PAr': 0.004, 'FTr': 0.35200000000000004, 'ORB%': 11.0, 'DRB%': 25.0, 'TRB%': 18.5, 'AST%': 15.2, 'STL%': 1.9, 'BLK%': 1.4, 'TOV%': 19.1, 'USG%': 17.0, 'OWS': 1.8, 'DWS': 1.4, 'WS': 3.3, 'WS/48': 0.161, 'OBPM': -0.5, 'DBPM': 1.3, 'BPM': 0.8, 'VORP': 0.7}, {'players': 'Zhou Qi\\qizh01', 'teams': 'HOU', 'Rk': 417, 'Age': 22, 'G': 18, 'MP': 124, 'PER': 1.9, 'TS%': 0.295, '3PAr': 0.594, 'FTr': 0.375, 'ORB%': 5.5, 'DRB%': 14.4, 'TRB%': 10.0, 'AST%': 2.1, 'STL%': 0.8, 'BLK%': 9.6, 'TOV%': 21.2, 'USG%': 16.8, 'OWS': -0.5, 'DWS': 0.2, 'WS': -0.3, 'WS/48': -0.10400000000000001, 'OBPM': -10.3, 'DBPM': 3.1, 'BPM': -7.2, 'VORP': -0.2})]
(Background on this error at: http://sqlalche.me/e/13/f405)